<!DOCTYPE html>
<html>
	<body>
		<p>Test Display</p>
		<script type="text/javascript">
			var scheme = window.location.protocol == 'https:' ? 'wss://' : 'ws://';
			var host = scheme + location.host + "/crawl";
			console.log(host);
			var ws = new WebSocket(host),
                messages = document.createElement('ul');
            ws.onmessage = function (event) {
				console.log(event.data);
                var messages = document.getElementsByTagName('ul')[0],
                    message = document.createElement('li'),
                    content = document.createTextNode(event.data);
                message.appendChild(content);
                messages.appendChild(message);
            };
			ws.onopen = function() {
				console.log("socket connected");
			};
			ws.onclose = function(event) {
				console.log("socket closed");
			};
            document.body.appendChild(messages);
		</script>
	</body>

</html>
