<!DOCTYPE html>
<html>
	<body>
		<p>Test Display</p>
		<script>
			var ws = new WebSocket("ws://mysterious-springs-48423.herokuapp.com:8002/"),
                messages = document.createElement('ul');
            ws.onmessage = function (event) {
                var messages = document.getElementsByTagName('ul')[0],
                    message = document.createElement('li'),
                    content = document.createTextNode(event.data);
                message.appendChild(content);
                messages.appendChild(message);
            };
            document.body.appendChild(messages);
		</script>
	</body>

</html>
